@import url('https://fonts.googleapis.com/css2?family=Arimo:ital@1&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arimo', Sans-serif, Arial;
}

.wrapper {
    margin: 120px auto;
    max-width: 400px;
    background: rgb(54, 97, 238);
}
body {
    text-align: center;

}